body {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("/img/christian-wiediger-WkfDrhxDMC8-unsplash.jpg");
  background-size: cover;
  text-align: center;
}

h1 {
  font-family: impact;
  letter-spacing: 4px;
  font-size: 4em;
  color: aliceblue;
  text-shadow: 8px 4px rgba(0, 0, 0, 0.4);
}

.btn {
  padding: 15px 35px;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  background-color: rgb(0, 170, 255);
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover {
  filter: brightness(1.2);
}

.active {
  filter: blur(4px) brightness(0.7);
}

.popup-container {
  background-color: rgb(22, 21, 20);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    ),
    url("/img/photo-1585079542156-2755d9c8a094.avif");
  background-size: cover;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 220px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none;
  border-radius: 20px;
  color: aliceblue;
}

.popup-container h4 {
  margin: 20px 0;
  font-size: 30px;
  color: aliceblue;
}

.popup-container label {
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  height: 30px;
  text-align: center;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
}

.popup-btn {
  height: 35px;
  border-radius: 10px;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom,
    rgb(2, 46, 72),
    rgba(6, 169, 251, 0.896)
  );
  cursor: pointer;
}
.popup-btn:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(6, 169, 251, 0.896),
    rgb(2, 46, 72)
  );
}

i {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
